/** @format */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* General CSS */

/*
* --- 01 WHITESPACE
*
* SPACING SYSTEM (px)
* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*
*
* --- 02 TYPOGRAPHY
*
* FONT SIZE SYSTEM (px)
* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
* 
* 
* --- 03 COLORS
* 
* -Primary: #d0bfff;
* -shades
* #845ef7
* #7048e8
* #5f3dc4
* #3c228b
*
* -Tints
* #e8e3ff
* 
* -General
* #fff
*
* -Greys:
* #555
*
*
* --- 04 BORDER RADIUS
* 4px
*
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

textarea {
  resize: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

*:focus {
  box-shadow: 0 0 0 0.2rem rgb(95, 61, 196, 0.5);
}

.text-align-left {
  text-align: left !important;
}

.heading {
  margin-bottom: 4.8rem;
}

.page-heading {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

/********************************/
/* FORMS */
/********************************/

.form-container {
  padding: 24px 48px;
}

.form-container-settings {
  text-align: center;
  max-width: 50rem;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0.3);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  backdrop-filter: blur(1px);
  border: 1px solid #fff;
  box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}

.form-container h1 {
  font-weight: 500;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2.4rem;
}

.form-container form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form-container input {
  padding: 0.8rem 0.8rem;
  border-radius: 4px;
  border: 1px solid #5f3dc4;
}

.form-container input:focus {
  background-color: #e8e3ff;
  outline: #5f3dc4;
}

.anchor:link,
.anchor:visited {
  text-decoration: none;
  display: flex;
}

.anchor:active,
.anchor:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(95, 61, 196, 0.5);
}

.input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invalid-inputs {
  font-size: 1.2rem;
  letter-spacing: 0.75;
  font-weight: 500;
  text-align: left;
  padding: 0;
  color: rgb(255, 0, 0) !important;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.display {
  display: grid !important;
}

/********************************/
/* BUTTONS */
/********************************/

.btn {
  padding: 1.2rem 3.2rem;
  border-radius: 4px;
  border: 1px solid #845ef7;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s;
  background-color: transparent;
  outline: none;
}

.btn--outline {
  color: #845ef7;
  background-color: #fff;
}

.btn--outline:hover {
  background-color: #e8e3ff;
}

.btn--full {
  background-color: #845ef7;
}

.btn--full:hover {
  background-color: #7048e8;
}

/********************************/
/* CONTAINERS */
/********************************/

.page {
  padding: 9.6rem 0 4.8rem;
}

.container {
  max-width: 120rem;
  margin: 4.8rem auto 6.4rem;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: 1fr 3fr 1fr;
}

.card-container--gap {
  gap: 9.6rem;
}

/********************************/
/* USERPROFILE */
/********************************/

.btn--save-changes {
  margin-right: auto;
}

.btn--save-all-changes {
  margin-right: auto;
  margin-top: 2.4rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.accordion p {
  font-size: 1.5rem;
  color: #845ef7;
}

.item {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  padding: 1.4rem 0;
  cursor: pointer;
}

.item-border {
  border-bottom: 2px solid #845ef7;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #845ef7;
}

.userprofile-container {
  border: 1px solid #5f3dc4;
  border-radius: 4px;
  padding: 0 48px;
}

/********************************/
/* Search result & Booking cards */
/********************************/

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.card {
  box-shadow: 0 0 10px rgb(119, 119, 119, 0.5);
}

.card-img {
  width: 100%;
  max-height: 350px;
}

.card-info {
  padding: 0 4.8rem 2.4rem;
}

.location-info p {
  font-size: 1.8rem;
  font-weight: 600;
}

.location-info div {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
}

.date {
  font-size: 1.4rem;
  font-weight: 500;
}

.card-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bot span {
  font-size: 1.4rem;
}

.card-status--div {
  align-items: center;
  display: flex;
  gap: 0.6rem;
}

.card-status--div ion-icon {
  font-size: 2.5rem;
}

/********************************/
/* PAGES */
/********************************/

.loadingAndResultMessage {
  font-size: 2rem;
  font-weight: 500;
  color: #3c228b;
  text-align: center;
}
