/** @format */

.booking-card {
  gap: 2.4rem;
  box-shadow: 0 0 10px rgb(119, 119, 119, 0.5);
}

.booking-card--img {
  width: 100%;
}

.booking-card--info {
  padding: 0 4.8rem 2.4rem;
  gap: 2.4rem;
}

.location-info p {
  font-size: 1.8rem;
  font-weight: 600;
}

.location-info div {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
}

.booking-card--desc {
  font-size: 1.2rem;
}

.booking-card--bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-card--status-div {
  align-items: center;
  display: flex;
  gap: 0.6rem;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
}

.booking-card--status-div ion-icon {
  font-size: 2.5rem;
}

.booking-card--status-pending {
  color: #888;
}

.booking-card--status-accepted {
  color: #18a0fb;
}

.booking-card--status-declined {
  color: #ff9292;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
