/** @format */

.result-card {
  gap: 2.4rem;
  box-shadow: 0 0 10px rgb(119, 119, 119, 0.5);
}

.result-card--img {
  width: 100%;
}

.result-card--info {
  padding: 0 4.8rem 2.4rem;
  gap: 2.4rem;
}

.location-info p {
  font-size: 1.8rem;
  font-weight: 600;
}

.location-info div {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
}

.result-card--desc {
  font-size: 1.2rem;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
}

.result-card--bot {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn--book-now {
  flex-grow: 1;
}

.btn--unavailable {
  background-color: #888 !important;
  border: 1px solid #888 !important;
}

.searchResult-card--status-div ion-icon {
  font-size: 2.5rem;
}

.searchResult-card--status-available {
  color: #18a0fb;
}

.searchResult-card--status-unavailable {
  color: #ff9292;
}

.searchResul-toggle--div {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.searchResult-card--bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResult-card--status-div {
  align-items: center;
  display: flex;
  gap: 0.6rem;
}

.searchResult-card--input-div {
  display: flex;
  justify-content: space-around;
  padding-left: 0.2rem;
}

.searchResult-card--input-div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchResult-card--input-div input {
  margin-top: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  border: 1px solid #5f3dc4;
}

.searchResult-card--input-div label {
  font-size: 1.4rem;
}
