/** @format */

.user-profile-img {
  height: 100%;
}

.user-img-container {
  align-self: center;
  height: 350px;
  max-width: 500px;
  overflow: hidden;
  justify-self: right;
}

.profile-form--apartment {
  padding: 0 !important;
  align-self: flex-start;
}

.div--content {
  padding-bottom: 2.4rem;
  display: none;
  column-gap: 9.6rem;
}

.div--content label {
  font-size: 1.4rem;
  font-weight: 500;
}
