/** @format */

.user-profile-img {
  height: 100%;
  position: relative;
}

.user-img-container {
  height: 350px;
  max-width: 500px;
  overflow: hidden;
  justify-self: right;
}

/* this can be both profile and apartment forms css rule */

.apartment-form-container {
  border: 1px solid #5f3dc4;
  border-radius: 4px;
  padding: 0 48px;
}

.profile-form--apartment {
  padding: 0 !important;
  align-self: flex-start;
}

.div--content {
  padding-bottom: 2.4rem;
  display: none;
  column-gap: 9.6rem;
}
