/** @format */

.user-profile-img {
  width: 100%;
}

.user-img-container {
  width: 180px;
  padding: 1rem 0;
  overflow: hidden;
}

.profile-form-container {
  max-width: 60rem;
  align-items: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-left: 2rem;
  padding: 2.4rem 8rem;
  border-radius: 4px;
  background-color: transparent;
}

.profile-form div {
  gap: 1px !important;
}

.label {
  font-size: 1.6rem;
}

.info {
  font-size: 1.8rem;
  font-weight: 500;
}
