/** @format */

.user-profile-img {
  width: 100%;
  position: relative;
}

.user-img-container {
  width: 180px;
  padding: 1rem 0;
  overflow: hidden;
}

.profile-form-container {
  max-width: 60rem;
  border: 1px solid #5f3dc4;
  border-radius: 4px;
  align-items: center;
  padding: 0 48px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 2rem;
  padding: 2.4rem 8rem;
  border-radius: 4px;
  background-color: transparent;
}

.text-align-center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.form-gap {
  gap: 24px;
}

.label {
  font-size: 1.4rem;
}

.info {
  font-size: 1.6rem;
  font-weight: 500;
}
